CompileFlags:
  Add:
    - --target=x86_64-w64-mingw32
    - -I"C:/msys64/mingw64/include"
    - -I"C:/msys64/mingw64/lib/gcc/x86_64-w64-mingw32/15.1.0/include"
    - -I"C:/msys64/mingw64/lib/gcc/x86_64-w64-mingw32/15.1.0/include-fixed"
    - -I"C:/msys64/mingw64/include/c++/15.1.0"
    - -I"C:/msys64/mingw64/include/c++/15.1.0/x86_64-w64-mingw32"
